In [10]:
import numpy as np
import statistics

In [2]:
np.mean([1,2,3])

np.float64(2.0)

In [5]:
data= [1,2,3,4]
new = [3]*len(data)

In [14]:
statistics.stdev(data)

1.2909944487358056

In [8]:
list(map(lambda a, b: (a - b)**2, data, new))

[4, 1, 0, 1]

In [1]:
data = [[1,2],[3,4]]

In [2]:
import numpy as np

In [4]:
np.min(data)

np.int64(1)

In [1]:
import pandas as pd
file_name = 'laptop_prices.csv'
col_name = 'Price_euros'

In [2]:
df = pd.read_csv(file_name)

In [3]:
df.shape

(1275, 23)

In [5]:
df['Price_euros']

0       1339.69
1        898.94
2        575.00
3       2537.45
4       1803.60
         ...
1270     638.00
1271    1499.00
1272     229.00
1273     764.00
1274     369.00
Name: Price_euros, Length: 1275, dtype: float64